h2{
    margin: 0;
    text-align: center;
    
}
h1{
    text-align: center;
    font-weight: bold;
    color: rgb(59, 59, 235);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
    
    
}
h2{
    text-align: center;
    font-weight: normal;
    margin: 20px 15px 15px 15px;
    font-size: 40px;
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    text-align: center;
    padding: 3px;
    
    
}
li{
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 0;
    border-radius: 10px;
    transition: all 200ms step-end;  
    font-weight: bold;
    color: black;  
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(110, 110, 110);
    font-weight: normal;
    opacity: 0.7;
}
li:hover{
    background: #ffffc1;
    margin: 0 550px 0 550px;

    
}
button{
    background: rgb(59, 59, 235);
    color: white;
    display: block;
    margin: 30px auto;
    font-size: 15px;
    font-weight: normal;
    padding: 16px 24px;
    border-radius: 30px;
    border: 1px solid rgba(59, 59, 235);
    cursor: pointer;
    transition: all 200ms ease-in-out;
    line-height: 22px;
    box-shadow: rgba(59, 59, 235, 0.3) 0px 8px 8px 0;
    
}
button:hover {
    color: rgb(59, 59, 235);
    background: white;
    border: 1px solid rgb(59, 59, 235);
}
h3{
    color:rgb(110, 110, 110) ;
    text-align: center;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 15px;

}